<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="index.css">
  <title>Sentiment Analysis</title>
  
    {% load static %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

 <!-- NAVBAR -->
    <header class="header">
      
      <a href="#" class="header__icon" id="header__icon"></a>
      <a href="#" class="header__logo">Logo</a>
      
      <nav class="menu">
        <a href="#">Home</a>
        <a href="#">About</a>
        <a href="#">Blog</a>
        <a href="#">Contact</a>
      </nav>
      
    </header>
<!-- NAVBAR -->

<body>
<div id="main">
    <div id = "app"></div>
</div>
</body>
{% load static %}
<script src="{% static "frontend/main.js" %}"></script>
</html> 