*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    position: relative;
}

.wrapper{
    display: flex;
    position: relative;
    top: 0;
    width: 100%;
}
.btns{
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding-top: 3px;
}

.wrapper .nav {
    z-index: 9999;
    width: 100%;
    margin-bottom: 20px;
    color:#F6F6F6;
    /* position: absolute; */
    top: 0; left: 0; right: 0;
}

.btn {
    height: 80px;
    width: 200px;
}

.input{
    width: 300px;
    margin: right;
}

.logo {
    display: fixed;
    font-family: "Helvetica";
    font-style: normal;
    font-weight: bold;
    padding-right: 30px;
    color:#F6F6F6 !important;
    letter-spacing: 0.05em;
    text-shadow: 0px 4px 4px 
    rgba(0, 0, 0, 0.25);
}

.x {
 font-size: 64px;
}



.Search {
    width: 400px;
    margin: 0 auto;
    position: relative;
    display: flex;
  }
  .SearchSpan {
    width: 15%;
    border: 1px solid #1C76D2;
    background: #1C76D2;
    padding-top: 4px;
    text-align: center;
    color: #fff;
    border-radius: 5px 0 0 5px;
    font-size: 20px;
  }
  .SearchInput {
    width: 85%;
    border: 3px solid #1C76D2;
    border-left: none;
    padding: 5px;
    border-radius: 0 5px 5px 0;
    outline: none;
  }
